@font-face {
	font-family: HP_100LX;
	src: url(/Web437_HP_100LX_6x8.woff) format("woff");
}

* {
	box-sizing: border-box;
	font-family: HP_100LX, monospace;
	font-size: 8px;
	line-height: 1;

	text-size-adjust: none;
	-webkit-text-size-adjust: none;

	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: never;
}

:root {
	color-scheme: dark;
	/* CSS HEX */
	--black-olive: #3e4039ff;
	--morning-blue: #a0a695ff;
	--xanthic: #eeee3fff;
	--cultured: #f1f1f1ff;
	--firebrick: #b22a2aff;
	--black: #000000ff;
}

body {
	margin: 0;
	padding: 0;
}

#app,
main {
	display: flex;
	place-items: center;
	flex-direction: column;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	padding: 5px;

	border-radius: 2px;
	border: 1px solid var(--morning-blue);
	background-color: var(--black-olive);
	color: var(--cultured);
	margin-bottom: 5px;
}

input[type="file"] {
	display: none;
}

button {
	border-radius: 2px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	background-color: var(--firebrick);
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: var(--morning-blue);
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

select,
input {
	display: block;
	width: 14rem;
	margin: 0;
}

.text-input {
	min-width: 30rem;
}

input[type="checkbox"] {
	
	height: 14px;
	width: 14px;
}

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 0.8rem;
	box-sizing: border-box;
	place-items: stretch;
	border-radius: 2px;
	border: 1px solid var(--morning-blue);
	background-color: var(--black-olive);
	color: var(--cultured);
}

.title {
	text-align: center;
	padding-bottom: 5px;

	color: var(--xanthic);
}

.grid {
	display: grid;
	grid-template-columns: auto auto;
	gap: 5px;
}

.grid-3 {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	gap: 5px;
}
.row {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 5px;
	margin-bottom: 5px;
}

.label {
	display: flex;
	place-items: center;
	min-width: 6rem;
	padding-right: 5px;
}

.value {
	display: flex;
	justify-content: stretch;
}

.column-title {
	text-align: center;
}

th {
	font-weight: normal;
}

table {
	table-layout: fixed;
}

td {
	padding: 0;
	margin: 0;
	border: none;
	height: 14px;
}

#remove-button {
	height: 14px;
	width: 14px;
	padding: 0;
	margin: 0;
	text-align: center;
}
